body {
    margin:0px;
    font-size:32px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width:100%;
    display: block;
    border-radius: 20px;
}

div.userdetails {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: grey;
    
}

a {
    color:green;
    text-decoration: none;
}


.IP_address {
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: grey;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

div.time {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: grey;
}

div.background-cam {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: whitesmoke;
    z-index: -1;
}

div.container {
    display:flex;
    flex-wrap:wrap;
    height:100vh;
    
}

div.left {
    height:100%;
    width:80%;
    overflow:scroll;
    
}

div.middle {
    height:100%;
    overflow:scroll;
    
}

div.right {
    height:100%;

}


div.box {
    display:flex;
    justify-content:center;
    height:35px;
    width:90%;
    align-items:center;
    background-color:lightgrey;
    margin:8px;
    padding:8px;
    border-radius: 10px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    
}

div.blankbox {
    display:flex;
    justify-content:center;
    height:35px;
    width:90%;
    align-items:center;
    margin:8px;
    border-radius: 10px;
   
}


video.webcam {
    width:100%;
    height:100%;
    object-fit: cover;
}

div.detial1 {
    display:flex;
    justify-content:center;
    height:60px;
    width:90%;
    align-items:center;
    background-color:lightgrey;
    margin:8px;
    border-radius: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
       
}

div.col1 {
    height:100%;
    background-color: blueviolet;
    overflow:scroll;
}

div.col2 {
    height:100%;
    background-color: papayawhip;
    overflow:scroll;
}

div.row {
    display:flex;
    flex-wrap:wrap;
}

div.col {
    outline:4px solid whitesmoke;
    height:100%;
    background-color: white;
}

div.width100 {
    width:100%;
}

div.width80 {
    width:80%;
}

div.with75 {
    width:75%;
}

div.width66 {
    width:66.66%;
}

div.width60 {
    width:60%;
}

div.width50 {
    width:50%;
}

div.width40 {
    width:40%;
}

div.width33 {
    width:33.33%;
}

div.width30 {
    width:30%;
}

div.width25 {
    width:25%;
}

div.width20 {
    width:20%;
}

div.menu {
    position:fixed;
    top:0px;
    left:0px;
    width:50%;
}

div.hero {
    outline:2px sold royalblue;
    height:400px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100%;
    margin-bottom: 100%;
}

div.middle img {
    margin-top: 40px;
    margin-bottom: 40px;
}

div.textblack {
    padding: 20px;
    color:black;
    font-weight: bold;
    background-color: lightgray;
}

div.textgray {
    padding: 20px;
    color:gray;
    font-weight: bold;
    background-color: rgb(240, 240, 240);
}


div.coloranimation {
    background-color: orangered;
    animation: backgroundcolor 3s infinite linear;
}

@keyframes backgroundcolor {
    0% {
        background-color: royalblue;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: lightcoral;
    }
}