body {
background-color: blue;
font-family: Helvetica;
color: aliceblue;

}

@font-face {
    font-family: "OCR typeface";
    src: url("myfont.woff");
}

h1 {
    font-family:"helvetica";
    font-size: 42px;
    font-style: italic;
    align-items: center;
}

h2 {
    font-size: 10px;
    margin-right:60%;
}

h3 {
font-size: 21px;
font-family: 'Times New Roman', Times, serif;
margin-top:12%;
margin-bottom: 8%;
line-height: 24px;
}

h4 {
 font-size: 16px;
 font-family:'Times New Roman', Times, serif;
 font-style: bold;
 margin-bottom: 2%;
}

p {
font-size: 14px;
font-family:'Times New Roman', Times, serif;
line-height: 20px;
}