body {
background-color: lightcoral;
font-family:Arial;
}

@font-face {
    font-family: "OCR typeface";
    src: url("myfont.woff");
}

h1 {
    font-family:"OCR typeface";
    font-size: 250px;
    align-items: center;
}