body {
background-color: rgb(236, 243, 252);
font-family: Helvetica;
}

@font-face {
    font-family: "OCR typeface";
    src: url("myfont.woff");
}

h1 {
    font-family:"helvetica";
    font-size: 50px;
    font-style: italic;
    align-items: center;
}

h2 {
    font-size: 10px;
    margin-right:60%;
}

h3 {
font-size: 21px;
font-family: 'Times New Roman', Times, serif;
margin-top:12%;
margin-bottom: 8%;
line-height: 24px;
}

p {
font-size: 12px;
font-family:'Times New Roman', Times, serif;
line-height: 20px;
}